body {
  background-color: black;
  color:  white;
  text-align: center;
}

header {
  background-color: #303030;
  text-align: left;
  width: 900px;
  margin-left:auto;
  margin-right:auto;

}

#menu{
  float:  right;
  padding-right: 20px;
  padding-top: 30px;
}

#title{
  padding-left: 20px;
}

#picture{
  border-color: white;
}

header div{
  display:  inline-block;
}

header div a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button {
  background-color: red;
  color: white;
  border-radius: 25px;
  width: 100px;
}

#picture{
  border:  2px solid white;
  width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;
}


#picture div {
    display:  inline-block;
    padding:  10px;
    text-align:  left;

}

p {
  display: inline;

}

.openModal {
  display: inline-block;
  width: 200px;
  padding: 5px 10px 0px 10px;
}



#picture p a {
  float:  left;
}


.leftArrow, .rightArrow {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 45px;
  vertical-align: center;

 
}

.leftArrow:hover,
.leftArrow:focus, 
.rightArrow:hover,
.rightArrow:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align:  left;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

